<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   

    <div class="navbar">
    <a href="#"><i class="fa fa-fw fa-user"></i> Login</a>
    <a href="#"><i class="fa fa-star" aria-hidden="true"></i> Favorite</a>
    <h1>Hello, <%= name %></h1>
                    <a href="/logout" class="btn btn-danger">Logout</a>

</div>
</head>
<body>
    
    <div class="center">
        <div class="container">
            <header>
                <div class="seaech">
                    <input type="text" placeholder="Enter City Name" id="search-txt">
                    <a href="#" id="search-btn"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                      </svg></a>
                </div>
            </header>
            <div class="city">
                <div id="star">
                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></div>
                <div id="city-name"></div>
                <img src="" id="icon" alt="">
               </div>
                <div id="main"></div>
                <div id="description"></div>

                <div class="temperature">
                    <div id="temp"></div>
                </div>

                <div class="fahrenheit">
                    <div id="fahrenheit"></div>
                </div>

                <div class="humidity">
                    <p>humidity</p>
                    <div id="humidity-div"></div>
                

                <div class="PM">
                    <p>PM2.5</p>
                    <div id="PM"></div>
                </div>

            </div>
        </div>
    </div>
<!-- ------------------------------------------------------------------------------------------------------------------- -->
    <script>
        const appKey ="8d57fe1e61dec450763ffad87e49b3f7"
        const token = "a3e2ae9deadc84f1731fa414884c8cf8a09bb495"

const searchButton = document.querySelector("#search-btn");
const searchInput = document.querySelector("#search-txt");
const cityName = document.querySelector("#city-name");
const icon = document.querySelector("#icon");
const temperature = document.querySelector("#temp");
const humidity = document.querySelector("#humidity-div");
const PM = document.querySelector("#PM");
const main = document.querySelector("#main");
const description = document.querySelector("#description");
const fahrenheit = document.querySelector("#fahrenheit");

searchButton.addEventListener("click",()=>{
    findWeatherDetails()
    finPMDetails()
});
searchInput.addEventListener("keyup",enterPressed);

function enterPressed(event){
    if(event.key == "Enter"){
        findWeatherDetails,finPMDetails();
    }
}

function findWeatherDetails(){
    if(searchInput.value == ""){

    } else{
        const searchLink = "http://api.openweathermap.org/data/2.5/weather?q=" + searchInput.value + "&appid=" + appKey;
        httpRequestAsync(searchLink,theResponse);
    }

}

function finPMDetails(){
    if(searchInput.value == ""){

    } else{
        const searchLink = "http://api.waqi.info/feed/" + searchInput.value + "/?token=" + token;
        HttpRequestAsync(searchLink,TheResponse);
    }

}


function theResponse(response){
    const jsonObject = JSON.parse(response); // json => js object//
    cityName.innerHTML = jsonObject.name;
    icon.src = "https://openweathermap.org/img/w/"+jsonObject.weather[0].icon + ".png";
    temperature.innerHTML = parseInt(jsonObject.main.temp -273) + "°";
    humidity.innerHTML = jsonObject.main.humidity + "%";
    main.innerHTML = jsonObject.weather[0].main;
    description.innerHTML = jsonObject.weather[0].description;
    fahrenheit.innerHTML = parseInt(jsonObject.main.temp -273)*9/5 +32 +"°F";
}

function TheResponse(res){
    const jsonObject = JSON.parse(res); // json => js object//
    PM.innerHTML = parseInt(jsonObject.data.iaqi.pm25.v);
    
}

function httpRequestAsync(url,callback){
    const httpRequest = new XMLHttpRequest();
    httpRequest.onreadystatechange = () =>{
        if (httpRequest.readyState == 4 && httpRequest.status ==200){
        callback(httpRequest.responseText); //return text//
    }
}

httpRequest.open("GET",url,true); // true foe async //
httpRequest.send();
}

function HttpRequestAsync(url,callback){
    const HttpRequest = new XMLHttpRequest();
    HttpRequest.onreadystatechange = () =>{
        if (HttpRequest.readyState == 4 && HttpRequest.status ==200){
        callback(HttpRequest.responseText); //return text//
    }
}

HttpRequest.open("GET",url,true); // true foe async //
HttpRequest.send();
}

    </script>

<!--  ---------------------------------------------------------------------------------------------------------------->
<style>
    @import url('https://fonts.googleapis.com/css2?family=Zen+Old+Mincho&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Zen Old Mincho', serif;
}

.center{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container{
    display: grid;
    grid-template-areas: "header header"
                         "city temp"
                         "city fahrenheit"
                         "city humidity";
                         /* "city PM"  */
    grid-template-columns: 60% 40%;
    grid-template-rows: 55px 1fr 1fr;
    width: 500px;
    height: 300px;
    border-radius: 30px;
    box-shadow: 3px 3px 50px rgba(0, 0, 0, 0.1);
}

header{
    grid-area: header;
    padding: 10px;
    border-radius: 30px 30px 0 0;
    text-align: center;
    background: linear-gradient(to right,#43c6ac,#5691ff);
}

header input{
    outline: none;
    border:none;
    padding: 10px 20px;
    border-radius: 20px;
}

header a{
    color: #fff;
    padding: 8px 10px;
    transition: .3s;
    border-radius: 50%;
}

header a:hover{
    background: rgba(255, 255, 255, 0.5);
}

.city{
    grid-area: city;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid rgb(185, 205, 206);
    font-size: 2em;
}

.temperature{
    grid-area: temp;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(185, 205, 206);
    font-size: 2em;
}

.fahrenheit{
    grid-area: fahrenheit;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(185, 205, 206);
    font-size: 2em;
}

.humidity{
    grid-area: humidity;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}
/* body{
    background-color: #dee9ff;
} */
/* .PM{
    grid-area: PM;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
} */

.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

.navbar a {
  float: right;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #000;
}
h1{
    color: white;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}


</style>
   <!---------------------------------------------------------------------------------------------->
</body>
</html>